<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="/fragments/head :: head" ></div>
    <link rel="stylesheet" href="css/statistics.css" type="text/css">
    <title th:text="#{navbar.statistics}"></title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(statistics)"></div>

<div class="container">
    <div class="row col-xs-12 table-responsive">
        <table id="votesTable" class="table table-striped">
            <thead>
            <tr>
                <th>Nr</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Region</th>
                <th>Party</th>
                <th>Votes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="candidate, rowStat: ${votes}">
                <td th:text="${candidate.id}"></td>
                <td th:text="${candidate.firstName}"></td>
                <td th:text="${candidate.lastName}"></td>
                <td th:text="${candidate.region}"></td>
                <td th:text="${candidate.party}"></td>
                <td th:text="${candidate.cnt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>