<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
</head>
<body>
<div th:fragment="navbar(activeTab)">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a th:href="@{/}"><img class="navbar-brand" th:src="@{/images/brand.png}" alt="Logo"></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li th:class="${activeTab == 'home'}? 'active' : null"><a th:href="@{/}"
                                                                          th:text="#{navbar.home}"></a></li>
                <li th:class="${activeTab == 'statistics'}? 'active' : null"><a th:href="@{/statistics}"
                                                                                th:text="#{navbar.statistics}"></a></li>
                <li th:class="${activeTab == 'candidacy'}? 'active' : null"><a th:href="@{candidacy}"
                                                                               th:text="#{navbar.candidacy}"></a></li>
                <li th:class="${activeTab == 'contact'}? 'active' : null"><a th:href="@{contact}"
                                                                             th:text="#{navbar.contact}"></a></li>
                <li th:class="${activeTab == 'login'}? 'active' : null"><a th:href="@{login}"><span class="glyphicon glyphicon-user"></span></a></li>
                <li> <a th:href="@{?lang=et}"><img src="images/est.png" width="20"></a></li>
                <li> <a th:href="@{?lang=en}"><img src="images/eng.png" width="20"></a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>



