<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block>
    <div th:fragment="navbar(activeTab)">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a th:href="@{/}"><img class="navbar-brand" th:src="@{/images/brand.webp}" alt="Logo"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li th:class="${activeTab == 'home'}? 'active' : null"><a th:href="@{/}"
                                                                                  th:text="#{navbar.home}"></a></li>
                        <li th:class="${activeTab == 'statistics'}? 'active' : null"><a th:href="@{/statistics}"
                                                                                        th:text="#{navbar.statistics}"></a>
                        </li>
                        <li th:class="${activeTab == 'candidacy'}? 'active' : null"><a th:href="@{candidacy}"
                                                                                       th:text="#{navbar.candidacy}"></a>
                        </li>
                        <li th:class="${activeTab == 'contact'}? 'active' : null"><a th:href="@{contact}"
                                                                                     th:text="#{navbar.contact}"></a>
                        </li>
                        <li class="dropdown" th:class="${activeTab == 'login'}? 'active' : null">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form th:if="${#authorization.expression('isAuthenticated()')}"
                                          th:action="@{/logout}"
                                          method="POST">
                                        <input class="linkButton" type="submit" th:value="#{login.signout}"/>
                                    </form>
                                </li>
                                <li><a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{login}"
                                       th:text="#{login.signin}"> id="navSignin" </a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{?lang=et}"><img src="images/est.webp" alt="EST"></a></li>
                        <li><a th:href="@{?lang=en}"><img src="images/eng.webp" alt="ENG"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</th:block>
</html>



