#map {
    height: 30em;
    width: 100%;
}

.image {
    height: 20%;
    width: 20%;
}

.image-after {
    height: 48%;
    width: 100%;
}

.jumbotron {
    background-color: transparent;
}

.vertical-center {
  display: flex;
  align-items: center;
}