.col-xs-12 {
    padding-right: 0em;
    padding-left: 0em;
}

.row {
    margin-left: 0em;
}

.table-responsive {
    border: 0em;
}

.tooltip {
    position: fixed;
}

#error-text{
    display: none;
}

.voted {
    margin-top: 0em;
}

#selected-language {
    display: none;
}

.container {
    padding-top: 2em;
}

.btn-block {
    width: auto;
}