.navbar-brand{
    padding: 0;
    padding-left: 20%;}
.navbar-collapse{
    text-align: center;
}
.dropdown-menu{
    text-align: center;
}

.linkButton{
    background: none;
    border: none;
    cursor: pointer;
    outline:none;
}