.col-xs-12 {
    padding-right: 0em;
    padding-left: 0em;
}

.row {
    margin-left: 0em;
}

.table-responsive {
    border: 0em;
}

@media (min-width: 960em) {
    .container {
        width: 750em;
    }
}
