.col-xs-12 {
    padding-right: 0em;
    padding-left: 0em;
}

.row {
    margin-left: 0em;
}

.table-responsive {
    border: 0em;
}

#piechart {
    width: 100%;
    min-height: 30em;
}

#votesForPartyTable {
    display: none;
}