<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: head"></div>
    <title th:text="#{navbar.candidacy}"></title>
</head>
<body>
<div id="container">
    <div id="content">
        <div th:replace="fragments/navbar :: navbar(candidacy)"></div>
        <div class="jumbotron vertical-center">
            <div class="container-fluid" align="center">
                <div th:if="${candidacySuccessMessage != null}" class="alert alert-success" role="alert"
                     th:text="${candidacySuccessMessage}"></div>
                <div th:if="${candidacyErrorMessage != null}" class="alert alert-danger" role="alert"
                     th:text="${candidacyErrorMessage}"></div>
                <div th:if="${candidacySuccessTakeBack != null}" class="alert alert-success" role="alert"
                     th:text="${candidacySuccessTakeBack}"></div>
                <div th:if="${candidacyErrorTakeBack != null}" class="alert alert-danger" role="alert"
                     th:text="${candidacyErrorTakeBack}"></div>
                <div th:if="${!iscandidate}" class="container-fluid">
                    <div class="row">
                        <h2 th:text="#{candidacy.welcome}"></h2>
                    </div>
                    <div class="form-row">
                        <form th:action="@{/candidacy}" method="post" id="vorm">
                            <div class="form-group">
                                <select type="text" class="form-control" id="region" name="region"
                                        th:placeholder="#{candidacy.region}">
                                    <option>Põhja-Eesti</option>
                                    <option>Ida-Eesti</option>
                                    <option>Lõuna-Eesti</option>
                                    <option>Lääne-Eesti</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select type="text" class="form-control" id="party" name="party"
                                        th:placeholder="#{candidacy.party}">
                                    <option>Erakond Eesti Normaalsed</option>
                                    <option>Fašistlik erakond</option>
                                    <option>Ükskõiksuserakond</option>
                                </select>
                            </div>
                            <button id="submit-candidacy-button" type="submit" class="btn btn-primary" th:text="#{candidacy.sendbutton}"></button>
                        </form>
                    </div>
                </div>
                <div th:if="${iscandidate}">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 th:text="#{candidacy.applied}"></h3>
                            <h3 th:text="#{candidacy.takeback}"></h3>
                            <form th:action="@{/take_back_candidacy}" method="post">
                                <button id="take-back-candidacy-button" type="submit" class="btn btn-primary"
                                        th:text="#{candidacy.takebackbutton}"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>

</body>
</html>