<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="css/candidacy.css" type="text/css">
    <title th:text="#{navbar.candidacy}"></title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(candidacy)"></div>
<div class="jumbotron vertical-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div th:if="${candidacySuccessMessage != null}" class="alert alert-success" role="alert"
                     th:text="${candidacySuccessMessage}"></div>
                <div th:if="${candidacyErrorMessage != null}" class="alert alert-danger" role="alert"
                     th:text="${candidacyErrorMessage}"></div>
                <h2 th:text="#{candidacy.welcome}"></h2>
            </div>
        </div>
        <div class="form-row">
            <form method="post" id="vorm">
                <div class="form-group">
                    <select type="text" class="form-control" id="region" name="region"
                            th:placeholder="#{candidacy.region}">
                        <option>Põhja-Eesti</option>
                        <option>Ida-Eesti</option>
                        <option>Lõuna-Eesti</option>
                        <option>Lääne-Eesti</option>
                    </select>
                </div>
                <div class="form-group">
                    <select type="text" class="form-control" id="party" name="party"
                            th:placeholder="#{candidacy.party}">
                        <option>Erakond Eesti Normaalsed</option>
                        <option>Fašistlik erakond</option>
                        <option>Ükskõiksuserakond</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{candidacy.sendbutton}"></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>