<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="js/login.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/login.css" type="text/css">

    <div th:replace="/fragments/head :: head"></div>
    <title>Login</title>>
</head>
<body class="text-center">
<div th:replace="fragments/navbar :: navbar(login)"></div>
<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal" data-toggle="tooltip" data-placement="top"
        title="Estonian identification numbers only" th:text="#{login.introduction}"></h1>
    <input type="name" id="inputIdCode" class="form-control" th:placeholder="#{login.placeholder}" maxlength="11"
           required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.signin}"></button>
</form>
</body>
</html>
