<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="/fragments/head :: head" ></div>
    <script type="text/javascript">
        window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js"/>');
    </script>
    <title th:text="#{navbar.contact}"></title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(contact)"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 th:text="#{contact.welcome}"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <address th:text="#{contact.phone}"></address>
            <address th:text="#{contact.mail}"></address>
            <address th:text="#{contact.address}"></address>
        </div>
        <div class="col-sm-6">
            <p th:text="#{contact.form}"></p>
        </div>
    </div>
</div>

</body>
</html>
