<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div th:replace="/fragments/head :: head" ></div>
    <title>Contact</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(contact)"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Contact us</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <address>
                Phone: +372 56789012<br>
                E-mail: <a href="mailto:evoting@mailinator.com">evoting@mailinator.com</a><br>
                Address: J. Liivi 2, 50409 Tartu, Eesti
            </address>
            <p>Here is map</p>
        </div>
        <div class="col-sm-6">
            <p>Here is contact form</p>
        </div>
    </div>
</div>

</body>
</html>
