<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: head"></div>
    <link rel="stylesheet" href="css/home.css" type="text/css">
    <title th:text="#{navbar.home}"></title>
    <script src="js/login.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(home)"></div>

<div class="container">

    <div class="row col-xs-12 table-responsive">
        <table id="candidateTable" class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{home.nr}"></th>
                <th th:text="#{home.firstname}"></th>
                <th th:text="#{home.lastname}"></th>
                <th th:text="#{home.region}"></th>
                <th th:text="#{home.party}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="candidate, rowStat: ${candidatesForVoting}">

                <form th:action="@{/add_vote}" method="post" th:object="${candidate}">

                    <td th:text="${candidate.candidateId}"></td>
                    <td th:text="${candidate.firstName}"></td>
                    <td th:text="${candidate.lastName}"></td>
                    <td th:text="${candidate.region}"></td>
                    <td th:text="${candidate.party}"></td>

                    <td th:if="${#authorization.expression('isAuthenticated()')}">
                        <input type="hidden" th:value="${candidate.candidateId}" name="candidateId"/>
                        <button type="submit" class="btn btn-primary" th:text="#{home.vote}"></button>
                    </td>
                    <td th:unless="${#authorization.expression('isAuthenticated()')}" data-toggle="tooltip"
                        data-placement="top"
                        th:title="#{voting.tooltip}">
                        <button disabled="disabled" class="btn btn-primary" th:text="#{home.vote}"></button>
                    </td>
                </form>

            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>